@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #38bdf8, #cacbe0);
  min-height: 100vh;
  color: white;
}

.app {
  min-height: 100vh;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.form-section {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(16px);
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 28px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 650px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.18);
}

input {
  padding: 16px;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.28);
  color: #1e293b;
  font-size: 16px;
  outline: none;
  transition: 0.2s ease;
}

input:focus {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.18);
}

button {
  padding: 15px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    #67e8f9,
    #38bdf8
  );
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 8px 24px rgba(56, 189, 248, 0.35);
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
  box-shadow: 0 8px 25px rgba(99, 102, 241, 0.45);
}

.trip-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 35px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.emoji {
  margin-right: 5px;
}

.trip-card {
  background: linear-gradient(
  135deg,
  #DDB892,
  #F4E3C1
  );
  color: #1e293b;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.22);
  border-radius: 28px;
  padding: 28px;
  transition: 0.3s ease;
  box-shadow: 0 10px 35px rgba(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trip-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
}

.trip-card h3 {
  font-size: 34px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  min-height: 70px;
}

.trip-card p {
  color: #334155;
  line-height: 1.7;
  font-weight: 500;
}

.trip-summary {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 450px;
}

.logout-btn {
  background-color: #ef4444;
}

.logout-btn:hover {
  background-color: #dc2626;
}

.section-title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.trip-card .card-buttons button{
  width: 110px;
  height: 52px;
}

.delete-btn {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

.delete-btn:hover {
  box-shadow: 0 8px 25px rgba(239, 68, 68, 0.4);
}

.edit-btn {
  background: linear-gradient(
    135deg,
    #34d399,
    #10b981
  );
}

.edit-btn:hover {
  box-shadow: 0 8px 25px rgba(16, 185, 129, 0.4);
}

